doctype html
html
    head
        title VoidBot Discord OAuth2
    body
        script#mainScript(type="text/javascript", src="renderer.js", attr1=guilds)
        #info Heyo!!
        a#login(style='display: none;', href='https://discord.com/api/oauth2/authorize?client_id=428373411987980288&redirect_uri=http%3A%2F%2Flocalhost%3A7777&response_type=token&scope=identify%20guilds') IDENTIFY YOURSELF PLEBIAN!!!



