#errPopup.errPopup.hidden Error connecting to VoidBot.\nAttempting to reconnect...
script(src='node_modules/socket.io-client/dist/socket.io.dev.js')
script(type='text/javascript', src='renderer.js')
include ./css/admin-css.pug
#titleBar
    strong#titleText VoidBot v 
        script#version(ver=appVersion).
            document.write(document.getElementById('version').getAttribute('ver'));
        script#g(g=guilds).
            let gs = JSON.parse(document.getElementById('g').getAttribute('g'));
            for (i of gs) {
                let e = document.getElementById(`navbarMenuButtonShard${i}`)
                e.parentNode.removeChild(e);
                let ee = document.getElementById(`mainContentContainerSubShard${i}`)
                ee.parentNode.removeChild(ee);
            }
.contentBody#windowContent
    include navbar.pug