.navbarMenuContainer#navbarMenuConsole
    .navbarMenuButton#navbarMenuButtonRefCMDs(onclick=`executeCmd('refreshcmds', '')`)
        .navbarMenuButtonText Refresh Commands
    .navbarMenuButton#navbarMenuButtonRefAdmin(onclick=`executeCmd('refreshadmin', '')`)
        .navbarMenuButtonText Refresh Admin
.mainContentContainer#mainContentConsole
    .mainContentItem#mainContentItemSTDOUT