
div.titlebar
    h1.webTitle VoidBot
    link(rel='icon', type='image/x-icon', href='http://76.179.50.164:7777/favicon.ico')
    nav.navbarContainer
        a.navlinkButton(href="/")
            div.navlinkText Home
        a.navlinkButton(href="/auth/login")
            div.navlinkText Login
        a.navlinkButton(href="/auth/logout")
            div.navlinkText Logout