
div.titlebar
    h1.webTitle VoidBot
    nav.navbarContainer
        a.navlinkButton(href="/")
            div.navlinkText Home
        a.navlinkButton(href="/auth/login")
            div.navlinkText Login
        a.navlinkButton(href="/auth/logout")
            div.navlinkText Logout