doctype html
html
    head
        include ./css/main-css.pug
        title Login to VoidCloud
        include ./header.pug
    body
        h2 Login
        a.navlinkButton(href="/auth/discord")
            div.navlinkText Google
    footer
        include ./footer.pug