doctype html
html
    head
        include ./css/main-css.pug
        title Login to VoidBot
        include ./header.pug
    body
        h2.pageTitle Login
        div.mainContentContainer
            a.navlinkButton(href="/auth/discord")
                div.navlinkText Authenticate with Discord
    footer
        include ./footer.pug