doctype html
html
    head
        include ./css/main-css.pug
        title VoidBot Logout
        include ./header.pug
    body
        h2.pageTitle Logout
        div.mainContentContainer You are now Logged out. You will be redirected to the login page in 10 seconds...
        script.
            document.location.href='/'
    footer
        include ./footer.pug