doctype html
html
    head
        include ./css/main-css.pug
        title VoidBot Logout
        include ./header.pug
    body
        h2.pageTitle Logout
        div.mainContentContainer#mCCLogout You are now Logged out. You will be redirected to the login page in 10 seconds...
        script.
            let i = 9;
            redirInter = setInterval(() => {
                i--;
                document.getElementById('mCCLogout').innerText = `You are now logged out. You will be redirected to the login page in ${i} seconds...`;
            }, 1 * 1000);
            setTimeout(() => {
                document.location.href='/';
            }, 10 * 1000);
    footer
        include ./footer.pug