doctype html
html
    head
        include ./css/main-css.pug
        title VoidBot
        include ./header.pug
    body
        h2.pageTitle Home
            div.mainContentContainer
    footer
        include ./footer.pug