doctype html
html
    head
        include ./css/main-css.pug
        title VoidBot
        include ./header.pug
    body
        h2.pageTitle Home
        .mainContentContainer
            .mainArticle
                h3 Welcome to VoidBot's Web UI!
                p There's not much to see here right now since there are no features for non-admin users here yet...
                p But if you ARE an admin, you can click the button below to jump right to the admin panel!
            a.navlinkButton(href='/dash/admin')
                .navlinkText Admin Panel

    footer
        include ./footer.pug